<!DOCTYPE html>
<html lang="en" th:replace="~{base::parent(~{::#content},~{::title},~{::script})}">
<head>
    <title>Service page</title>
</head>
<body>
    <section id="content">
        <h1>Welcome to services page</h1>
        <h2>Services offered by SCM</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis ab consectetur provident, itaque dolor quae soluta, fugit voluptas quidem error corporis. Rem corrupti quos magnam.</p>
    </section>
    <script>console.log("Service page")</script>
</body>
</html>